{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    <input name="username" placeholder="Username" required><br>
    <input type="email" name="email" placeholder="Official Email" required><br>
    <input name="department" placeholder="Department" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/login">Login here</a></p>
{% endblock %}
