{% extends "base.html" %}
{% block content %}
<h2>Vault Dashboard</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required><br><br>
    <select name="encryption">
        <option value="AES">AES</option>
        <option value="DES">DES</option>
        <option value="3DES">3DES</option>
        <option value="Blowfish">Blowfish</option>
        <option value="RC4">RC4</option>
        <option value="Base64">Base64</option>
    </select><br><br>
    <input name="key" placeholder="Enter Key (optional)"><br><br>

    <button name="action" value="upload">Upload</button>
    <button name="action" value="encrypt">Encrypt</button>
    <button name="action" value="decrypt">Decrypt</button>
    <button name="action" value="analyze">Malware Analysis</button>
</form>

<!-- <h3>Stored Files:</h3>
<ul>
{% for file in files %}
    <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
{% endfor %}
</ul> -->
<a href="/logout">Logout</a>
{% endblock %}
